<div class="page-header">
    <h1>Egyszerű filmes nyilvántartó rendszer</h1>
    <img src="http://4.bp.blogspot.com/-I7DXiq2ONnw/U9OW0hXmNiI/AAAAAAAABao/4-7mBr9oR6o/s1600/Movie_set_d64e4cf9cbf09b390231149c5baf72b2.png">
</div>

<h2>Használati útmutató:</h2>
    <h3>A jobb felső sarokba kattintva lehetőségünk van a már meglévő lista megtekintésére, valamint közvetlenül elérhetjük az új film felvétele opciót.</h3>
    <ul>
        <li><h4>Lista megtekintése: Minden eddig felvett filmet kilistáz a rendszer. Tudunk filmet megtekinteni, módosítani az adatait és törölni.</h4></li>
        <li><h4>Új film felvitele: A műfaj kiválasztása és a filmcím megadása után a bejegyzés rögzítésre kerül. <br>Az időpont automatikusan rendelődik hozzá minden egyes filmhez.</h4></li>
    </ul>

